:root {
    font-size: 12px;
    margin: 0;
    padding: 0;
    --text-primary: black;
    --text-secondary: white;
    --transition-speed: 200ms;
    --bg-primary: ;
    --bg-secondary: ;
  }

  *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
  }


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    position: fixed;
    background-color: white;
}

.woof-form {
    display: flex;
    flex-direction: column;
    width: 60rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 30px;
    margin-top: 15vh;
}

.woof-form-area {
    display: flex;
    justify-content: center;
    width: 100%;
}

#post-woof-btn {
    float: right;
    margin-left: auto;
}

.get-woofs {
    display: flex;
    justify-content: center;
}

.woofs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.woof-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 60rem;
    margin: 5px 0px;
    border: 1px solid grey;
    border-radius: 5px;
}

.woof-user.div {
    text-align: center;
    margin: 0.5rem;
}

.woof-body.div {
    text-align: center;
    margin: 0.5rem;
}

@media screen and (max-width: 768px) {
    .woof-div {
        width: 80vw;
        height: 10rem;
    }

    .woof-form {
        width: 80vw;
    }

    #post-woof-btn {
        float: none;
        margin: auto;
    }




}
