.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.woof-form {
    width: 50%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 30px;
}

.woof-form-area {
    display: flex;
    justify-content: center;
    width: 100%;
}

#post-woof-btn {
    float: right;
    margin-left: auto;
}